@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

.detailsHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin-bottom: 20px;
  width: 40%;
}

.attendeesHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.dayHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
}

.slot {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.day {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.signupButton {
  margin-bottom: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
}

.detailsLeft {
  width: 40%;
}

.detailsHeaders {
  display: flex;
  flex-direction: row;
}
