html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.toolbar-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: gray;
  display: flex;
  align-items: center;
}

.toolkit {
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
}

.tools {
  margin-right: 20px;
}

.page-container {
  position: relative;
  margin-top: 150px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.signup-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: auto;
  width: 60vw;
}

.details-container {
  width: 10vw;
  padding-left: 3vw;
}
