html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.page-container {
  position: relative;
  margin-top: 150px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.signup-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: auto;
  width: 60vw;
}
