html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.page-container {
  position: relative;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 65px;
  margin-top: 35px;
}

.signup-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: auto;
  width: 68vw;
  margin-top: 10px;
  padding-bottom: 15px;
}

.tab-list {
  margin-left: 5px;
}
