@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lustria&family=Manrope:wght@200;300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

.calendarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border-width: 5px;
  border-color: orange; */
}

.pageRight {
  display: flex;
  width: 80%;
  height: 100vh;
  padding: 40px 60px 40px 60px;
  gap: 60px;
}

.signupContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 69vw;
  margin-left: -16px;
  padding-bottom: 8px;
  gap: 20px;
}

.details {
  padding-left: 15px;
  margin-top: 20px;
  width: 100%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.detailsRight {
  overflow-x: auto;
  -webkit-column-count: 5; /* Chrome, Safari, Opera */
  -moz-column-count: 5; /* Firefox */
  column-count: 5;
  column-width: 160px;
  height: 20vh;
}

.detailsHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin-bottom: 20px;
  width: 40%;
}

.attendeesHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.dayHeader {
  font-family: "Georama", sans-serif;
  font-size: 17pt;
  font-weight: 500;
}

.dayContainer {
  /* border-width: 1px;
  border-color: blue; */
  margin-bottom: 14px;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  /* border-width: 1px;
  border-color: red; */
  align-items: center;
  margin-top: 4px;
}

.hl {
  width: 3px;
  height: 43px;
  margin-top: -19px;
  margin-right: 10px;
  background-color: #a1d3ff;
}

.day {
  font-family: "Manrope", sans-serif;
  font-size: 10pt;
  font-weight: 500;
  margin-bottom: -4px;
}

.date {
  font-family: "Manrope", sans-serif;
  font-size: 20pt;
  font-weight: 700;
}

.signupButton {
  margin-bottom: 10px;
}

.detailsContents {
  display: flex;
  height: 40%;
  margin-left: 15px;
}

.detailsLeft {
  width: 300px;
  /* border-width: 2px;
  border-color: blue; */
}

.detailsHeaders {
  display: flex;
  flex-direction: row;
}

.userContainer {
  display: flex;
  flex-direction: row;
}

.removeButton {
  margin-right: 10px;
  margin-top: 3px;
}

.detailsContainer {
  max-height: 25vh;
  /* border-width: 1px;
  border-color: green; */
}

.setupContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
}

.setupForm {
  border: 2px solid red;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  position: absolute;
}

.tabs {
  margin-left: -10px;
}

.classButton {
  display: flex;
  flex-direction: column;
  /* border-width: 1px;
  border-color: blue; */
  width: 100%;
  gap: 2px;
}

.className {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 10pt;
  color: gray;
}

.classTime {
  font-family: "Manrope", sans-serif;
  font-size: 11pt;
  font-weight: 700;
}

.detailsText {
  font-family: "Manrope", sans-serif;
  font-size: 11pt;
}

.attendee {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 11pt;
  align-items: center;
}

.attendeeName {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.beltImg {
  height: 14px;
}
