@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

.card {
  width: 150px;
  height: 165px;
  display: table-cell;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  vertical-align: middle;
  text-align: center;
}

.header {
  font-family: "Georama", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 14pt;
}

.subHeader {
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 11pt;
}

.content {
  color: black;
  font-size: 11pt;
  height: 100%;
}

.boardContainer {
  margin-left: 65px;
  margin-right: 50px;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  height: 90%;
  /* border-width: 2px;
  border-color: orange; */
}

.titlesContainer {
  margin-bottom: 30px;
  height: 100%;
  /* border-width: 1px;
  border-color: green; */
}

.adults {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.row {
  margin-bottom: 10px;
  display: table;
  border-spacing: 20px;
  border-collapse: separate;
  margin-top: -5px;
  margin-left: -10px;
  gap: 20px;
}

.classLeaders {
  margin-left: 80px;
  /* border-width: 1px;
  border-color: red; */
}

.list {
  height: 90%;
  overflow: auto;
}

.cardContents {
  margin-top: 12px;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.awardImage {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-right: 10px;
}

.imageCropper {
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.imageCropperSmall {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.userImage {
  display: inline;
  margin: 0 auto;
  width: auto;
  width: 55px;
  height: 55px;
}

.rankImage {
  display: inline;
  margin: 0 auto;
  width: auto;
  width: 25px;
  height: 25px;
  align-self: center;
}

.awardImages {
  display: flex;
  justify-content: center;
}

.rankHeader,
.nameHeader,
.jjColor,
.llColor,
.classCount {
  color: black;
  font-size: 11pt;
}

.nameHeader {
  width: 170px;
}

.rankHeader {
  margin-left: 30px;
  width: 30px;
}

.classCount {
  width: 100px;
}

.rankings {
  margin-top: 150px;
}

.rankRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 40px;
  align-items: center;
}

.rankRow:hover,
.rankRowDark:hover {
  background-color: #d8ebfc;
}

.rankRowDark {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 40px;
  align-items: center;
  background-color: rgb(237, 237, 237);
}

.rankUser {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.beltImg {
  height: 14px;
}
