@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

.card {
  width: 150px;
  height: 165px;
  display: table-cell;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  vertical-align: middle;
  text-align: center;
}

.header {
  font-size: 15pt;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

.leaderboardHeader {
  font-size: 15pt;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
}

.subHeader {
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 11pt;
}

.content {
  color: black;
  font-size: 11pt;
  height: 100%;
}

.boardContainer {
  margin-left: 65px;
  margin-right: 50px;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  height: 90%;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.adults {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.row {
  margin-bottom: 10px;
  display: table;
  border-spacing: 20px;
  border-collapse: separate;
  margin-top: -5px;
  margin-left: -10px;
  gap: 20px;
}

.classLeaders {
  margin-left: 80px;
  height: 100%;
}

.topRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgb(38, 73, 177);
  border-radius: 15px 15px 0 0;
  padding: 0 15px 0 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rankHeader,
.studentHeader,
.beltHeader,
.classHeader {
  color: black;
  font-size: 11pt;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

#top {
  color: white;
}

.leaderBox {
  border-radius: 15px;
}

.list {
  padding: 0 15px 0 15px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 135px);
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: grey;
}

.cardContents {
  margin-top: 12px;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.awardImage {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-right: 10px;
}

.imageCropper {
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.userImage {
  display: inline;
  margin: 0 auto;
  width: auto;
  width: 55px;
  height: 55px;
}

.rankImage {
  display: inline;
  margin: 0 auto;
  width: auto;
  width: 25px;
  height: 25px;
  align-self: center;
}

.imageCropperSmall {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.awardImages {
  display: flex;
  justify-content: center;
}

.nameHeader {
  width: 140px;
}

.rankHeader {
  margin-left: 10px;
  width: 45px;
  text-align: center;
}

.studentHeader {
  width: 175px;
  text-align: center;
}

.beltHeader {
  text-align: center;
  width: 42px;
}

.classHeader {
  margin-left: 10px;
  width: 60px;
  text-align: center;
}

.classHeader {
  text-align: center;
  margin-left: 10px;
  width: 60px;
}

.rankRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: calc(100% + 30px);
  height: 40px;
  margin-left: -15px;
  align-items: center;
  padding: 0 15px 0 15px;
}

.rankRow:hover,
.rankRowDark:hover {
  background-color: #d8ebfc;
}

.rankRowDark {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: calc(100% + 30px);
  padding: 0 15px 0 15px;
  margin-left: -15px;
  height: 40px;
  align-items: center;
  background-color: rgb(237, 237, 237);
}

.studentDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.beltImg {
  height: 14px;
}
