@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

.profileContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100vh;
  padding: 40px 60px 40px 60px;
  gap: 60px;
  /* border-color: green;
  border-width: 1px; */
}

.profileLeft {
  max-width: 35%;
  /* border-color: blue;
  border-width: 1px; */
}

.profileRight {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* margin-left: 80px; */
  width: 100%;
  /* border-color: red;
  border-width: 1px; */
}

.formContainer {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.input {
  margin-bottom: 8px;
  margin-top: 3px;
}

.namesContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.header {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 20px;
}

.label {
  font-size: 10pt;
  font-weight: 600;
}

.fileUpload {
  cursor: pointer;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  /* justify-content: center; */
}

.subHeader {
  font-size: 14pt;
  font-weight: 600;
}

.joined {
  font-size: 10pt;
  color: gray;
  font-style: italic;
}

.statusAlerts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.statusCards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.rightHeader {
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 10px;
}

.beltCard {
  width: 150px;
  height: 165px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  align-items: center;
}

.beltImageCropper {
  display: flex;
  width: 75px;
  height: 75px;
  background-color: rgb(101, 101, 101);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
}

.beltImage {
  width: 60px;
  align-self: center;
}

.tableDisplay {
  display: table;
}

.classType {
  font-size: 12pt;
  font-weight: 600;
}

.promoteDate {
  color: gray;
  font-style: italic;
  font-size: 10pt;
  margin-bottom: 10px;
}

.barChart {
  height: 350px;
  width: 100%;
  /* border-color: blue;
  border-width: 1px; */
}
